{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

<section class="py-5">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-start ">
        <div class="card text-black w-100" style="border-radius: 25px;">
          <div class="card-body" style="height: 100%;">
            <div class="row justify-content-center align-items-center h-100">
              <!-- Imagen -->
              <div class="col-md-8 col-lg-5 col-xl-6 d-flex align-items-center justify-content-center p-4" style="max-height: 600px; overflow: hidden;">
                <img src="{% static '/img/login.png' %}" class="img-fluid w-100" alt="Sample image" style="object-fit: contain; max-height: 70%; max-width: 70%;">
              </div>
  
              <!-- Formulario -->
              <div class="col-md-10 col-lg-6 col-xl-6 d-flex align-items-center justify-content-center p-4">
                <div class="w-100">
                  
                  <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Iniciar Sesión</p>
                  {% if socialaccount_providers %}
                  <p>{% blocktrans with site.name as site_name %}Inicie sesión con una de sus cuentas de terceros existentes. O, <a href="{{ signup_url }}">registrate</a>
                  para una cuenta de {{ site_name }} e inicie sesión a continuación:{% endblocktrans %}</p>

                  

                  {% include "socialaccount/snippets/login_extra.html" %}

                  {% else %}
                  <p>{% blocktrans %}If you have not created an account yet, then please
                  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                  {% endif %}
                 <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
                 <div class="mt-2">
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                 </div>

                  <div class="socialaccount_ballot text-center">
                  <div class="divider d-flex align-items-center my-4">
                    <p class="text-center fw-bold mx-3 mb-0 text-muted">O</p>
                  </div>
                    
                      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    

                    

                  </div>
  <!-- <div class="text-center text-lg-start mt-4 pt-1">
                    
                      <p class="small fw-bold mt-2 pt-1 mb-0">¿No tienes una cuenta? <a href="{{ signup_url }}" class="link-danger">Regístrate</a></p>
                    </div> -->
                  </form>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

{% endblock %}