{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}Recuperar Contraseña{% endblock %}

{% block css %}
<style>

</style>
  {% endblock %}
{% block content %}


<section class="py-5">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-start ">
        <div class="card text-black w-100" style="border-radius: 25px; max-height: 600px;">
          <div class="card-body" style="height: 100%;">
            <div class="row justify-content-center align-items-center h-100">
              <!-- Imagen -->
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center justify-content-center p-4" style="max-height: 400px; overflow: hidden;">
                <img src="{% static '/img/olvidePass.png' %}" class="img-fluid w-100" alt="Sample image" style="object-fit: contain; max-height: 30%; max-width: 30%;">
              </div>
  
              <!-- Formulario -->
              <div class="col-md-10 col-lg-6 col-xl-5 d-flex align-items-center justify-content-center p-4">
                <div class="w-100">
                 

                  
                  <p class=" h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Recuperar Contraseña</p>
                           
      

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-sm btn-primary" type="submit" name="action" value="{% trans 'change password' %}"/>
        </form>
    {% endif %}
                    </div>
        
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
      
      {% endblock %}