{% extends "base/base.html" %}
{% load static %}
{% block title %}Cambiar Contraseña{% endblock %}

{% block css %}
<style>

</style>
  {% endblock %}
{% block content %}


<section class="py-5">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-start ">
        <div class="card text-black w-100" style="border-radius: 25px;">
          <div class="card-body" style="height: 100%;">
            <div class="row justify-content-center align-items-center h-100">
              <!-- Imagen -->
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center justify-content-center p-4" style="max-height: 400px; overflow: hidden;">
                <img src="{% static '/img/cambiarass.png' %}" class="img-fluid w-100" alt="Sample image" style="object-fit: contain; max-height: 40%; max-width: 40%;">
              </div>
  
              <!-- Formulario -->
              <div class="col-md-10 col-lg-6 col-xl-5 d-flex align-items-center justify-content-center p-4">
                <div class="w-100">
                  {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                      {{ message }}
                    </div>
                  {% endfor %}
                  {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  {% endif %}
                  <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Cambiar Contraseña</p>


                        <form method="post">
                            {% csrf_token %}
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label class="form-label">{{form.old_password.label}}</label>
                                  <input type="password" id="{{form.old_password.auto_id }}" name="{{form.old_password.name}}"  value="{{ form.old_password.value | default:'' }}" class="form-control" 
                                  placeholder="Ingresa tu antigua contraseña" value="{{ form.old_password.value | default:'' }}" />
                                  
                                </div>
                              </div>
                              <div class="error text-danger">{{form.old_password.errors}}</div>
            
                              <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                
                                <div class="form-outline flex-fill mb-0">
                                    <label class="form-label" >{{ form.new_password1.label }}</label>
                                  <input type="password" id="{{ form.new_password1.auto_id }}" name="{{ form.new_password1.name }}" value="{{ form.new_password1.value | default:'' }}" class="form-control" 
                                  placeholder="Ingresa tu nueva contraseña" value="{{ form.new_password1.value | default:'' }}" />
                                  
                                </div>
                              </div>
                              <div class="error text-danger">{{form.password1.errors}}</div>
            
                              <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label class="form-label">{{ form.new_password2.label }}</label>
                                  <input type="password" id="{{ form.new_password2.auto_id }}" name="{{ form.new_password2.name }}" value="{{ form.new_password2.value | default:'' }}" class="form-control" 
                                  placeholder="Repite la contraseña" value="{{ form.new_password2.value | default:'' }}" />
                                  
                                </div>
                              </div>
            
                              <div class="error text-danger">{{form.new_password2.errors}}</div>

                              <div class="text-center text-lg-start mt-4 pt-1">
                                <button type="submit" class="btn btn-primary btn-md"
                                  style="padding-left: 1.5rem; padding-right: 1.5rem;">Cambiar Contraseña</button>
                              </div>
                        </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      {% endblock %}