{% extends "base/base.html" %}
{% load static %}
{% block title %}Recuperar contraseña{% endblock %}

{% block content %}

<div  class="row justify-content-center ">

    <div class="col-12 col-md-6">

        <div  class="card border-0 shadow-lg my-5 bg-dark">
            <div class="card-body p-0">
                <!-- <div class="miDiv"> -->
                <!-- Nested Row within Card Body -->
                <div class="row justify-content-center">
                   <!--  #bg-login-imagen -->
                    <!-- <div class="col-lg-6 d-flex"><img src="https://picsum.photos/500/385" class="rounded" alt=""></div> -->
                    <div class="col-md-9">
                        <div class="p-5">
                            <div class="text-center">
                                <div class="sidebar-brand-icon">
                                    <!-- <i class="fas fa-laugh-wink"></i> -->
                                    <img id="imgFM" src="{% static 'app/img/logo1.jpeg' %}" class="img-fluid" width="90px" height="90px">
                                </div>
                                <h1 class="h4 text-white mb-4">Recuperar contraseña!</h1>
                            </div>
                            <form class="user" action="" method="POST">
                                <div class="form-group text-white">
                                    {% csrf_token %}
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example3">Nombre de usuario</label>
                      <input type="text" id="{{ form.email.auto_id }}" name="{{ form.email.name }}" class="form-control form-control-lg"
                        placeholder="Ingresa el nombre de usuario" value="{{ form.email.value | default:'' }}" />
                      <div class="error">{{ form.email.errors }}</div>
                    </div>
  
                   
                                    
                                <button class="btn btn-primary btn-user btn-block" type="submit"> Enviar</button>
                                </div>
                                
                            </form>
                            {{mensaje}}
                        </div>
                    </div>
                </div>
            <!-- </div> -->
            </div>
        </div>

    </div>

</div>

</div>

{% endblock %}