{% load static %}
<body id="body-login">

    <div class="container ">

        <!-- Outer Row -->
        <div  class="row justify-content-center ">

            <div class="col-12 col-md-6">

                <div  class="card border-0 shadow-lg my-5 bg-dark">
                    <div class="card-body p-0">
                        <!-- <div class="miDiv"> -->
                        <!-- Nested Row within Card Body -->
                        <div class="row justify-content-center">
                           <!--  #bg-login-imagen -->
                            <!-- <div class="col-lg-6 d-flex"><img src="https://picsum.photos/500/385" class="rounded" alt=""></div> -->
                            <div class="col-md-9">
                                <div class="p-5">
                                    <div class="text-center">
                                        <div class="sidebar-brand-icon">
                                            <!-- <i class="fas fa-laugh-wink"></i> -->
                                            <img id="imgFM" src="{% static 'app/img/logo1.jpeg' %}" class="img-fluid" width="90px" height="90px">
                                        </div>
                                        <h1 class="h4 text-white mb-4">Bienvenido!</h1>
                                    </div>

    {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="password1" class="form-label text-white">Nueva contraseña</label>
            <input type="password" class="form-control" id="password1" name="password1" required>
        </div>
        
        <div class="mb-3">
            <label for="password2" class="form-label">Confirmar contraseña</label>
            <input type="password" class="form-control" id="password2" name="password2" required>
        </div>

        <button type="submit" class="btn btn-primary">Actualizar contraseña</button>
    </form>
</div>
</div>
</div>
<!-- </div> -->
</div>
</div>

</div>

</div>

</div>
{{mensaje}}

</body>