{% extends "base/base.html" %}
{% load static %}
{% block title %}Recuperar contraseña{% endblock %}

{% block css %}
<style>

</style>
  {% endblock %}
{% block content %}


<section class="py-5">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-start ">
        <div class="card text-black w-100" style="border-radius: 25px;">
          <div class="card-body" style="height: 100%;">
            <div class="row justify-content-center align-items-center h-100">
              <!-- Imagen -->
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center justify-content-center p-4" style="max-height: 400px; overflow: hidden;">
                <img src="{% static '/img/cambiarass.png' %}" class="img-fluid w-100" alt="Sample image" style="object-fit: contain; max-height: 35%; max-width: 35%;">
              </div>
  
              <!-- Formulario -->
              <div class="col-md-10 col-lg-6 col-xl-5 d-flex align-items-center justify-content-center p-4">
                <div class="w-100">
                  {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                      {{ message }}
                    </div>
                  {% endfor %}
                  {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  {% endif %}
                  <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Cambiar contraseña</p>

    <form method="POST">
        {% csrf_token %}
        
        <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Repetir Contraseña</label>
            <input type="password" id="{{ forms.password1.auto_id }}" name="{{ forms.password1.name }}" class="form-control form-control-md"
              placeholder="Repetir Contraseña" value="{{ forms.password1.value | default:'' }}" />
            <div class="error">{{ forms.password1.errors }}</div>
          </div>

          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Repetir Contraseña</label>
            <input type="password" id="{{ form.password2.auto_id }}" name="{{ form.password2.name }}" class="form-control form-control-md"
              placeholder="Repetir Contraseña" value="{{ form.password2.value | default:'' }}" />
            <div class="error">{{ form.password2.errors }}</div>
          </div>
          <button type="submit" class="btn btn-primary">Actualizar contraseña</button>
          {% comment %} <div class="text-center text-lg-start mt-4 pt-1">
            <button type="submit" class="btn btn-primary btn-md"
              style="padding-left: 1.5rem; padding-right: 1.5rem;">Cambiar contraseña</button>
          </div> {% endcomment %}
</form>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}