:root { 
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #58a8f3; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #2881f5; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #0683f8; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #fcf8f8; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  }

.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #343a40;
    color: #fff;
  }
  
  .copyright {
    background-color: #1a252f;
  }

  body{
    font-family: 'Poppins', sans-serif; /* Aplica la fuente */
      overflow-x: hidden;
      /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,118,121,1) 45%, rgba(0,212,255,1) 100%); */
      /* background: linear-gradient(45deg, #2937f0, #9f1ae2) !important; */
      /* background: linear-gradient(45deg, #d3d5f8, #b8d3fc) !important; */
      background: linear-gradient(90deg, rgb(178, 238, 248) 0%, rgb(96, 218, 248) 45%, rgb(17, 182, 247) 100%);
  }
  
.hero {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  
  .hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    min-height: 60vh;
    
    width: 100%;
    color: #0a0a0a;
  }
  
  .hero h2 {
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 700;
  }
  
  .hero h2 span {
    text-decoration: underline;
  }
  
  .hero p {
    max-width: 80%;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    font-weight: bold;
  }
  
  .hero .carousel-control-prev,
  .hero .carousel-control-next {
    width: 10%;
  }
  
  .hero .carousel-control-next-icon,
  .hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
    color: #0056b3;
  }
  
  .hero .btn-get-started {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;

    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    animation-delay: 0.8s;
    color: rgb(3, 2, 2);
    border: 2px solid var(--accent-color);
    text-decoration: none;
  }